@model Models.DTO.LoginDTO

@{
    ViewBag.Title = "User Login";
    <style>
        
    </style>
}

<section class="mt-3 w-100 h-50 d-flex justify-content-center align-items-center">
    <form method="post" asp-action="Sigin" asp-controller="Auth" asp-route-ReturnUrl="@ViewBag.ReturnUrl" enctype="multipart/form-data" class="d-flex justify-content-center w-50">
            
            <div class="row w-50">
                <div class="fs-4">
                @if (ViewBag.Message != null)
                {
                    @switch (ViewBag.Message)
                    {
                        case 0:
                            <div class="text-danger text-center">Login failed</div>
                            <div class="text-danger text-center">User id / Password are incorrect</div>
                            ; break;
                        case 1:
                            <div class="text-success text-center">Login successful</div>
                            ; break;
                    }
                }
                </div>

                <div class="col-12 mt-1">
                    <div class="text-center">
                        <label asp-for="@Model.EmailOrPhone" class="form-label text-center fs-3"></label>
                        <span class="text-danger">*</span>
                    </div>
                     
                    <input type="text" asp-for="@Model.EmailOrPhone" class="form-control" />
                    <label asp-validation-for="@Model.EmailOrPhone"></label>

                </div>
                <div class="col-12 mt-1">
                    <div class="text-center">
                        <label asp-for="@Model.Password" class="form-label text-center fs-3"></label>
                        <span class="text-danger">*</span>
                    </div>
                    <input type="password" asp-for="@Model.Password" class="form-control" />
                    <label asp-validation-for="@Model.Password"></label>
                </div>
                <div class="col-12 mt-1 text-center">
                    <input type="submit" class="btn btn-primary w-100" value="Login"/>
                </div>
            </div>
        </form>
</section>


<script>

</script>
